<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html>
    <head>
        <title>Alta categorias</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
            <div>
                <h2>Categorias</h2>

                <form method="POST" id="formulario_categorias">
                    
                    <input type="hidden" name ="accion" value ="guardar">
                    <input type="hidden" name="id" value="<?php echo isset($_POST['id']) ? $_POST['id'] : '' ?>">                     
                    <label for="cname">Nombre</label><br>
                    <input type="text" id="cname" name="nombre_categorias" placeholder="ingrese nombre" 
                           value="<?php echo isset($_POST['nombre_categorias']) ? $_POST['nombre_categorias'] : ''  ?>" maxlength="80" minlength="3" autocomplete="off" required="" ><br><br>
                    <button type="submmit">Aceptar</button>
                    
                 </form>
            </div>
    </body>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    crossorigin="anonymous" ></script>

    <script src="../../assets/js/validaciones.js" type="text/javascript"></script>

</html>
