<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html>
    <head>
        <title>Formulario categorias</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="../../assets/css/estilo_formularios.css">
         <link rel="icon" type="image/ico" href="../../assets/img/logo.ico" >
    </head>
    <body>
        
        <div>
            <h1>Categorias</h1><br><br>
                
            <form method="POST" id="formulario_categorias">
                    <label for="listaCategoria">Categorias:</label><br>
                    <input type="text" id="listaCategoria" name="nombre_categoria"><br>
                  
                    <button id="btn_enviar" type="submit" class="boton"> Enviar</button>
                    <button id="btn_cancelar" type="button" class="boton"> Cancelar</button><br><br>
                    
                    <br><br><br><br>
                    
                    
                    <h5>David</h5>
            </form>
        </div>
    </body>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
    crossorigin="anonymous">    </script>
    
    <script src="../../assets/js/validaciones.js" type="text/javascript"> </script>
</html>
