<!DOCTYPE html>

<html>
    <head>
        <title>Lista productos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
         
            <table>
                <thead>
                    <tr> 
                        <th>Nombre</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                    <?php foreach ($lista_categorias as $idx => $categoria){ ?>
                    
                        <td> <?php echo $categoria['nombre']?></td>
                    
                        <?php if (($idx + 1) % 4 == 0){ ?>
                        
                    </tr><tr>
                    
                    <?php } 
                            } ?>
                    </tr>
                </tbody>
            </table>
            
            
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    crossorigin="anonymous" ></script>
   
   
</html>
