<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html>
    <head>
        <title>Formulario Productos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/estilo_formularios.css">
        <link rel="icon" type="image/ico" href="../../assets/img/logo.ico" >
    </head>
    <body>
        <div>
            <h1>Productos</h1><br><br>
          
            <form>
                    <label for="pnombre">Producto:</label><br>
                    <input type="text" id="pnombre" name="nombre_producto" required><br><br><br>
                  
                    <label for="img">Imagen:</label><br>
                    <input type="file" id="img" name="lmagen_producto"><br><br><br>
                
                    <label>Descripcion:</label><br>
                    <textarea>  </textarea><br><br><br>
                
                    <label for="precio">Precio:</label><br>
                    <input type="number" id="precio" name="precio_producto"><br><br><br>
            
                    <label for="categorias">Categorias:</label><br>
                    <input type="number" id="categorias" name="nombre_producto"><br><br><br>

                    <br><br><br><br>
                    
                    <button id="btn_enviar" type="button" class="boton"> Enviar</button>
                    <button id="btn_cancelar" type="button" class="boton"> Cancelar</button><br><br>
                    <h5>David</h5>

            </form>
      
        </div>
  
    </body>

</html>
